/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels                 ║ Boost Goal                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
*/

/* Background */
.container-1eD8xH {
  background: var(--background-primary);
  padding: 4px 12px 4px 12px;
  border-radius: var(--radius-secondary);
  margin-bottom: 12px;
}

/* No Divider */
.container-1eD8xH .divider-1Y1mB0 {
  display: none;
}

/* No Icon */
.container-1eD8xH .tadaIcon-33fE1D {
  display: none;
}

/* Progress Bar */
.container-1eD8xH .progressBar-1Tzim4 {
  background: linear-gradient(90deg,hsl(338,calc(var(--saturation-factor, 1)*91%),36%),hsl(338,calc(var(--saturation-factor, 1)*92%),42%));
}

/* Progress Icon */
.container-1eD8xH .progressBar-1Tzim4::after {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  width: 8px;
  height: 8px;
  border-radius: 90px;
  right: -4px;
  bottom: -2px;
}

.container-1eD8xH {
margin-left: 0px !important;
  cursor: pointer;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels                 ║ Category Icons                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
*/

/* Arrow (Normal) */
.containerDefault-3TQ5YN:hover .arrow-2HswgU {display: block;}

/* Arrow (Hover) */
.arrow-2HswgU {display: none;}

/* Arrow (Normal) */
.addButtonIcon-3rJeaD {display: none;}

/* Arrow (Hover) */
.containerDefault-3TQ5YN:hover .addButtonIcon-3rJeaD {display: block;}

/* ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Mobile Menu                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
*/

.button-2BMPJJ path {display: none;}
.button-2BMPJJ.open-3fGK6o {transform: none;}

.theme-dark .button-2BMPJJ,
.theme-light .button-2BMPJJ {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/%3E%3C/svg%3E") center no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/%3E%3C/svg%3E") center no-repeat;
    background: var(--interactive-active);
    position: relative;
    opacity: 1;
}

.container-1NXEtd:hover {
	margin-bottom: 0px;
	transition: all .3s ease-in-out;
}

.container-1NXEtd:hover + .panels-3wFtMD {
	height: 0px;
	margin-top: 0px;
	animation: slideDown .5s;
	
}

@keyframes slideDown {
  from {
      margin-bottom: 37px;
}
  to {
      margin-bottom: 0px;
  }
}