:root {
    --Discord-Townhall: url("");
    --Discord-API: url("");
    --Discord-JS: url("");
    --Discord-Python: url("");
    --Discord-Games: url("");
    --Project-Blurple: url("");
    --Top-gg: url("");
    --Discord-Boats: url("");
    --Discord-Bots: url("");
    --Sebis-Townhall: url("");
    --Discord-Owners: url("");
    --Owners-Hub: url("");
    --Displace: url("");
    --Hypesquad: url("");
    --Hypesquad-Balance: url("");
    --Hypesquad-Brillance: url("");
    --Hypesquad-Bravery: url("");
}