[aria-label="Nate's World"] .aboutMeSection-PUghFQ::after {
	content: "";
	display: block;
	position: relative;
	background: url("https://github-readme-stats.vercel.app/api?username=Nates-World&custom_title=My Stats&show_icons=true&hide_border=true&bg_color=202225&title_color=5865f2&text_color=fff&icon_color=5865f2&border_radius=10&role=OWNER,COLLABORATOR") center/cover no-repeat;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

[aria-label="CorellanStoma"] .aboutMeSection-PUghFQ::after {
	content: "";
	display: block;
	position: relative;
	background: url("https://corellanstoma-github-readme-stats.vercel.app/api?username=CorellanStoma&custom_title=My Stats&show_icons=true&hide_border=true&bg_color=202225&title_color=CD0952&text_color=C0C6DB&icon_color=CD0952&border_radius=12&role=OWNER,COLLABORATOR") center/cover no-repeat;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}