.accountProfileCard-lbN7n-:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.accountProfileCard-lbN7n- {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.background-3d_SjE:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.background-3d_SjE {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.profileBannerPreview-3mLIdO:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.profileBannerPreview-3mLIdO {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.authedApp-1tw-eT:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.authedApp-1tw-eT {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.wrapper-1xW8FI:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.wrapper-1xW8FI {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.connection-107AGH:hover {
    transform: translateY(-1px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.connection-107AGH {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.previewMessage-2uxBrA:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.previewMessage-2uxBrA {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.preview-rua1rr:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.preview-rua1rr {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.previewContainer-37c2Si:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.previewContainer-37c2Si {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.membershipDialog-2wAdpQ:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.membershipDialog-2wAdpQ {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.video-36dXVU:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.video-36dXVU {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.container-1eD8xH:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.container-1eD8xH {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.avatarUploaderInner-yEhTv5:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.avatarUploaderInner-yEhTv5 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.progressBarImage-3lGAbU:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.progressBarImage-3lGAbU {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.previewContainer-1GxmBJ:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.previewContainer-1GxmBJ {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.previewContainer-1xQAsw:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.previewContainer-1xQAsw {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.upsellContainer-22N_CL:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.upsellContainer-22N_CL {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.tier-3CS7-p:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.tier-3CS7-p {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.headerClickable-zGQJz3:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.headerClickable-zGQJz3 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.card-3JmxsM:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.card-3JmxsM {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

img.flexChild-3PzYmX:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

img.flexChild-3PzYmX {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.descriptionBox-SKGNgB:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.descriptionBox-SKGNgB {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.inputDefault-3FGxgL:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.inputDefault-3FGxgL {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.upsellContainer-2a5eMP:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.upsellContainer-2a5eMP {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.sidebarContainer-3Lxtaw:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.sidebarContainer-3Lxtaw {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.containerBackground-1uOjjv:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.containerBackground-1uOjjv {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.containerWithIcon-262wXy:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.containerWithIcon-262wXy {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.error-3AuLwi:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.error-3AuLwi {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.developerPortalCtaWrapper-2PniQs:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.developerPortalCtaWrapper-2PniQs {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.featureCard-3XHbjy:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.featureCard-3XHbjy {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.container-3jbRo5:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.container-3jbRo5 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.checklistContainer-12xGp5:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.checklistContainer-12xGp5 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.placeholderCard-2jZYky:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.placeholderCard-2jZYky {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.previewCard-22p9UT:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.previewCard-22p9UT {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.container-13pE3E:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.container-13pE3E {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.previewContainer-29oeA6:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.previewContainer-29oeA6 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.welcomeChannel-_Q4qAA:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.welcomeChannel-_Q4qAA {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.container-3rxzV7:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.container-3rxzV7 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.item-2idW98:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.item-2idW98 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.container-27IskS:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.container-27IskS {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.flex-2S1XBF:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.flex-2S1XBF {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.peopleListItem-u6dGxF:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.peopleListItem-u6dGxF {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.rowWrapper-N-4fji:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.rowWrapper-N-4fji {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.categoryFadeBlurple-1HuV1x:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.categoryFadeBlurple-1HuV1x {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.result-3OpoO7:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.result-3OpoO7 {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.sticker-H2HhJD:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: var(--elevation-high);
}

.sticker-H2HhJD {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

/* Buttons */
button:not(.barButtonMain-2GIx4o):hover,
/* Settings List Items */
.item-3XjbnG:hover,
/* Direct Message List Items */
.channel-1Shao0:hover,
/* Member List Items */
.member-2gU6Ar:hover,
/* Context Menu Items */
.item-1OdjEX:hover,
/* Message Images */
.imageWrapper-oMkQl4:hover,
/* Message Stickers */
.assetWrapper-2hzITV:hover,
/* Message Embeds */
.embedWrapper-1MtIDg:hover,
/* Message Profile Pictures */
.avatar-2e8lTP:hover,
/* Call Tiles */
.tile-3GyaDQ:hover,
/* Screenshare Tiles */
.tile-38DNjt:hover,
/* Topbar Items */
.iconWrapper-2awDjA:hover,
/* Voice Call Users */
.draggable-S2aEx4:hover,
/* Server Channels */
.content-1gYQeQ:hover,
/* Friends Tab Cards */
.itemCard-3Etziu:hover,
/* Nitro Tab Main Card */
.hero-1aNo0v:hover,
/* Nitro Tab Feature Cards */
.feature-2IUcBI:hover,
/* Quick Switcher List Items */
.resultFocused-3aIoYe:hover,
/* Quick Switcher Search Box */
.input-3r5zZY:hover,
/* Discovery Tab Header */
.searchHeader-3ZIh2x:hover,
/* Discovery Tab List Items */
.categoryItem-3zFJns:hover,
/* Discovery Tab Cards */
.loaded-igpmmx:hover,
/* Settings Radios */
.item-2idW98:hover,
/* Settings Switches */
.control-1fl03-:hover,
/* Settings Powercord Plugins Tab Cards */
.powercord-product:hover {
    transform: translateY(-4px) scale(1.02);
    transition: ease-in-out 0.4s;
    box-shadow: var(--elevation-high);
}