.description-30xx7u,
.labelDescriptor-34wZ-z,
.sectionDescription-ol6C7B {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.info-3pQQBb .line-18uChy, 
.headerTagWithNickname-1U8zZH, 
.headerTagNoNickname-3tGHj6, 
.anchor-1MIwyf,
.scrollbarGhostHairline-2LpzZ9,
.timestamp-p1Df1m, 
.pronoundb-pronouns {
  user-select: all;
  -webkit-user-select: all;
}