:root {
    --splash-height: unset;
    --splash-width: 255px;
    --padding: 45px;
    --blur: 5px;
    --box-shadow-color: rgba(0, 0, 0, .5);
    --border-size: 5px;
    --border-radius: 10px;
    --border-color: #5865f2;
    --background-color: rgba(0, 0, 0, .5);
  }
  
  .container-2RRFHK {
      background-color: var(--background-color);
  }
  .content-3AIQZv {
      width: var(--splash-width);
      padding: var(--padding) 0;
      background-color: var(--background-color);
      border: var(--border-size) solid var(--border-color);
      border-radius: var(--border-radius);
      box-shadow: 0px 0px var(--blur) var(--box-shadow-color);
  }