.headerTop-3GPUSF, .headerTextNormal-2mGWX3, .customStatus-oN4ZZY, .aboutMeTitle-3pjiS7 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.avatarWrapperNormal-ahVUaC {
    position: absolute;
    left: 33%;
}

.userPopout-xaxa6l .input-cIJ7To, .bodyTitle-2Az3VQ, .textarea-_59yqs, .marginBottom8-AtZOdT.size14-e6ZScH {
    text-align: center;
}