/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                               		Upload		                                           ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Change File Upload Button */
.tipIcon-24kLNQ path,
.chatContent-3KubbW .attachButtonPlus-3IYelE {
    d: path("M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z");
}

.attachButtonPlay-1ATmb5 {
    display: none;
}

.channelAttachmentArea-HwpkuQ {
    background: var(--background-secondary) !important;
    left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.image-1091CL {
    border-radius: 10px !important;
    background: var(--background-primary);
}

.upload-vLbqu- {
    border-radius: 10px !important;
    background: var(--background-primary);
margin-left: 10px
}