/* Hover Channels animated */
.mainContent-20q_Hp:hover {
    animation: UserModalButtons 0.5s normal ease;}
  .mainContent-20q_Hp .noWrap-hBpHBz {width: 100px;opacity: 1;}
  .mainContent-20q_Hp {transition: 0.2s;}
  .mainContent-20q_Hp:hover {transition: 0.2s;}
  @keyframes UserModalButtons {
    0% {
      transform: translateY(0px);
    }
    45% {
      transform: translateY(-5px);
    }
    90% {
      transform: translateY(0px);
    }
  }