/* Do not Mirror */
.mirror-2qdBDS {transform: none}

/* Remove Underlined username */
#app-mount .username-h_Y3Us:hover {
    text-decoration: none;
}

/* Removes Help Button */
.toolbar-3_r2xA a {
  display: none;
}

/* Removes the Close Button on DMs */
.closeButton-mupH76{
  display: none !important;
}

/* Emoji Fix */
.guildSection-2Zyzy8 > .flex-2S1XBF > svg {
    flex-shrink: 0;
}

/* Channel Fix */
.topic-11NuQZ > .wrapper-1ZcZW- > .channelIcon-3I2O7O,
.embedFooterText-2Mc7H9 > .wrapper-1ZcZW- > .channelIcon-3I2O7O {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}

/* Emoji Scaling */
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

/* File Icon */
.audioMetadata-1Hrt8T::before {
    min-width: 24px;
}

/* Message Attatchments */
.messageAttachment-CZp8Iv {
    max-width: 100%;
    min-width: 0;
}

/* Search Header */
.searchHeader-1r_ZSh {
background-color: var(--background-secondary);
}

/* Transparent Icons */
.icon-3AqZ2e,[src*="https://cdn.discordapp.com/avatars/"]{
  background: #5865f2;
}

/* Unread */
.isUnread-3Lojb- {border-color:transparent !important;} 
.app-focused .isUnread-3Lojb- {border-color: #f04747 !important;}

/* Do not copy Username */
.header-2jRmjb{
  user-select:none;
}

/* Center a whole lot of shit */
.tabs-1RhQha {justify-content: center;}
.name-3YKhmS{ text-align: center; }
.membersGroup-2eiWxl .container-q97qHp {align-content: center;}
