.searchBar-3TnChZ {
    position: absolute;
    bottom: 3px;
    right: 110px;
    padding: 0;
    height: auto;
    box-shadow: none;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    padding: 0;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5865f2 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG:hover {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), inset 0 0 0 56px rgba(255, 255, 255, 0.12);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG:active {
    box-shadow: 0px 7px 8px -4px rgb(0 0 0 / 20%), 0px 12px 17px 2px rgb(0 0 0 / 14%), 0px 5px 22px 4px rgb(0 0 0 / 12%), inset 0 0 0 56px rgba(255, 255, 255, 0.24);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    -webkit-mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23000000"%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3Cpath d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/%3E%3C/svg%3E') center/cover no-repeat;
}