.flowerStarContainer-1QeD-L.icon-1dGlZy {
  color:white;
}

/* Feature description */
/*More emoji power*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featureEmoji-cnSD0D > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color:#FFA600;
}
/*Personalized profile*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featureProfile-2h92hd > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color:#00E0A7;
}
/*support your server*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featurePremiumGuild-2uV6-N > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color: #5C87CC;
}
/*rep your status*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featureBadge-1FNGAH > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color: #FFAFFF;
}
/*bigger uploads*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featureUploadSize-3k1zif > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color:#776BFF;
}
/*hd video*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featureGoLive-15Pf6l > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color: #FA4E89;
}
/*longer messages*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featureLongerMessageContent-4BIM8v > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color:#ffd836;
}
/*more servers*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div:nth-child(2) > div > div.contentRegion-3HkfJJ > div > div > main > div > div > div.featureGrid-SSlfD0 > li.feature-2IUcBI.featureMoreServers-3eY3SW > div.colorStandard-21JIj7.size14-3fJ-ot.featureDescription-3U0QB3{
  color:#a57ef8
}