.menu-1QACrS {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}

@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}