.button-f2h6uQ.lookFilled-yCfaCM.sizeMedium-2bFIHr {background-color: #5865f2 !important;}
.button-f2h6uQ.lookLink-15mFoz.sizeMedium-2bFIHr {
	background-color: #5865f2;
	color: white !important;
	text-decoration: none !important;
}